<div class="d-flex {{menuLateralService.classMenu}}" id="wrapper">

 <!-- menu lateral -->
 <DQ-menu-lateral-professor></DQ-menu-lateral-professor>

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

      <button (click)="toggleMenu()" class="navbar" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div style="width: 100%;">
      <DQ-menu-top-professor></DQ-menu-top-professor>
    </div>

      
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

    
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->