<DQ-head></DQ-head>

<!-- <p>
    Esse é o formulario: {{loginForm.value | json}}
  </p> -->

<div class="col-xs-12 col-sm-6 offset-sm-3" *ngIf="isLoged()">
  <h1>Olá {{getUser().Name}}</h1>
</div>

<br>


<form [formGroup]="loginForm" novalidate class="col-xs-12" *ngIf="!isLoged()">
  <div class="form">

    <h3>Olá Professor</h3>

    <dq-input-container errorMessage="Senha obrigatória" label="Email">
      <input type="text" formControlName="email" placeholder="Email" class="form-control" />
    </dq-input-container>

    <dq-input-container errorMessage="Senha obrigatória" label="Senha">
      <input type="password" formControlName="password" placeholder="Senha" class="form-control" />
    </dq-input-container>

    <button type="button" class="btn btn-primary" (click)="login()" (disable)="isValid()">
      Entrar
    </button>
  </div>
</form>

<br>
<br>

<div>
  <a [routerLink]="['/cadastrar']">
    Não tem uma conta ainda? Não se desespere, clique aqui e faça seu cadastro!
  </a>
</div>